/* Colors */
$paragraph-color: #333;
$brand-main-color: #f58220;
$brand-main-color-hover: #ffa200;
$brand-secondary-color: #979797;
$brand-secondary-color-hover: #bababa;
$disabled-color: #e3e3e3;
$active-element-color: #f2f2f2;
$marked-color: #04ae00;
$positive-notification-color: #96cc9b;
$positive-notification-color-active: #74b67a;
$negative-notification-color: #ec7171;
$negative-notification-color-active: #de5252;
$invalid-input-color: #ff0000;
$primary-link-color: #56819f;
$secondary-link-color: #f58220;
$blue-alert: #80bfca;
$orange-alert: #f58220;
$green-alert: #59b66d;
$side-menu-background: #191919;
$side-menu-hover: #282828;
$background: #fff;

/* Font sizes */
$paragraph-font-size: 14px;
$page-header-font-size: 16px;
$page-section-font-size: 16px;
$link-font-size: 16px;
$small-link-font-size: 13px;
$list-font-size: 14px;
$button-font-size: 16px;
$tabs-font-size: 16px;
$line-font-size: 16px;
$column-font-size: 13px;
$pagination-font-size: 16px;
$hamburger-size: 16px;
$mobile-input-size: 12px;
$mobile-section-size: 12px;
$mobile-header-size: 14px;
$mobile-button-size: 14px;
$label-size: 16px;

/* Fonts */
$brand-font: "Roboto", "Open Sans", Arial, sans-serif;
$paragraph-font: "Roboto", "Open Sans", Arial, sans-serif;

