.container {
    width: 100%;
    padding: 4px 15px;
};

.centered {
    margin: 0 auto;
}

.bottom-line {
    border-bottom: 2px solid $disabled-color;
    
}

.inner-container {
    width: 80%;
    max-width: 1200px;
};